body,html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(236, 232, 239);
}
button{
    outline: none !important;
    cursor: pointer;
}
.bg-img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.wrapper{
    color: #ffff;
    height: 100% !important;
    background-image: url(/public/images/wrapper-background_01.jpg);
}
.wrapper-container{
    padding-top: 1rem !important;
    height: 100%;
    flex-direction: column;
}
.top-nav{
    align-items: center;
}
.logo{
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    word-spacing: -6px;
}
.logo span{
    font-weight: 100;
}
.top-nav-right {
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center;
    
}
.top-nav-right button{
     font-size: 1rem;
     padding: .2rem 1.6rem;
     margin: 0 .1rem;
     text-transform: capitalize;
     background-color: rgb(10,174,228);
     border: none;
     border-radius: 5px;
     

}   
.top-nav-right-btn-signin{
    background-color: unset !important;
}
.top-nav-right button a{
    color: #ffff;
    text-decoration: none;
    font-size: .7rem;

}
.fa-search{
    margin-right: .5rem;
}
.wrapper-bottom{ 
    flex: 1;
    align-items: flex-end;
    box-sizing: border-box;
    margin-bottom: 2rem;
    justify-content: space-between;
}
.wrapper-bottom-left-rate *{
    padding: 0;
    margin : 0;
}
.wrapper-bottom-left{
    font-size: 80%;
}
.wrapper-bottom-left h1{
    text-transform: uppercase;
}
.wrapper-bottom-left p{
    text-transform: capitalize;
    padding-right: 2rem;
}
.wrapper-bottom-left-rate{
    align-items: center;
}
.wrapper-bottom-left-rate *{
    font-size: 1rem;
    padding-right: .5rem;
    color: rgb(10,174,228);
}
.wrapper-bottom-left-rate p{
    padding: .1rem .5rem ;
    font-size: .7rem;
    border: 1px solid rgb(10,174,228);
    text-align: center;
    border-radius: 4px;
}
.wrapper-bottom-right button{
text-transform: capitalize;
font-size: 80%;
padding: .3rem 1rem;
border-radius: 4px;
color: #ffff;
margin: 0 .3rem;
}
.wrapper-bottom-right button:nth-child(1){
    background-color: rgb(10,174,228);
    border : none;
}
.wrapper-bottom-right button:nth-child(2){
    background-color: unset;
    border : 1px solid #ffff;
}
.wrapper-bottom-right button:nth-child(3){
    background-color: unset;
    border: none;
}
.wrapper-bottom-right button:nth-child(3) .fa-plus{
 margin-right: .2rem;
}
.fa-ellipsis-v{
    font-size: .7rem;
}
@media only screen and (max-width : 900px){
    .wrapper-bottom-left h1 {
        font-size: 2rem;
    }
    .wrapper-bottom-left p {
        text-transform: capitalize;
        padding-right: 1rem;
    }
    .wrapper-bottom-left-rate * {
        font-size: .8rem;
    }
}
@media only screen and (max-width : 815px){
    .wrapper-bottom-left h1 {
        font-size: 1.5rem;
    }
    .wrapper-bottom-left p {
        padding-right: .4rem;
    }
   .wrapper-bottom-right button{
        font-size: .5rem;
    }
}
@media only screen and (max-width : 685px){
    .wrapper-bottom-left h1 {
        font-size: 1.2rem;
    }
    .wrapper-bottom-left p {
        padding: 0 .3rem;
        font-size: .6rem;
    }
   .wrapper-bottom-right button{
         margin: 0 .1rem;
    }
}
@media only screen and (max-width : 576px){
    .wrapper-bottom {
        flex: 1;
        box-sizing: border-box;
        align-items: flex-start !important;
        justify-content: flex-end !important;
        flex-direction: column;
    }
    .wrapper-bottom-right {
        margin-top: 1rem;
   }
}
@media only screen and (max-width : 500px){
    .top-nav-right button {
        padding: .2rem .6rem;
    }
}

@media only screen and (max-width : 435px){
    .logo {
        font-size: 1rem;
    }
}
@media only screen and (max-width : 375px){
    .logo {
        width: 100% !important;
        text-align: center;
        margin-bottom: 1rem;
    }
    .top-nav.row {
        flex-direction: column;
    }
    .top-nav-right.col-7 {
        width: 100% !important;
        max-width: 100% !important;
        justify-content: center !important;
    }
}

.body-top{
    justify-content: space-between;
    padding-top: 1.6rem;
}
.top-transform > div{
    width: 1.3rem;
    height: 1.3rem ;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left :  .2rem;

}
.top-transform > div:nth-child(1) span{
    background-color: rgb(10,174,228);
    width: 40%;
    align-content: space-between;
    height: 40%;
    border-radius: 2px;
}
.top-transform > div:nth-child(2) span{
    background-color: rgb(214, 216, 216);
    width: 100%;
    align-content: space-between;
    height: 40%;
    border-radius: 2px;
}
.top-rate p{
    margin-right: 1rem;
    text-transform: capitalize;
    font-size: 80%;
    font-weight: 700;
    color: rgb(10,174,228);
}
@media only screen and (max-width : 640px){
    .top-rate p {
        margin-right: .4rem;
        font-size: 68%;
    }
    .top-transform > div {
        width: 1rem;
        height: 1rem;
    }
}
@media only screen and (max-width: 640px){
    .body-top {
        padding-top: 1rem;
    }
.top-rate p {
    margin-right: .3rem;
    font-size: 50%;
}
.top-transform > div {
    width: 0.5rem;
    height: .5rem;
}
}
@media only screen and (max-width: 375px){
    .top-transform.d-flex {
        display: none !important;
    }
    .body-top.d-flex {
        justify-content: center;
    }
    .top-rate p {
        text-align: center;
    }
}



.product{
    
     padding-bottom: 0.9rem;
     font-size: 16px;
}
.product-container:hover .product-content {
    transform: translateY(0%);
}
.product p{
    margin-bottom: .3rem;
}
.product-container{
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    background-color: #ffff;
}
.product-img {
    flex-direction: column;
    align-items: center;
}
.product-img img{
    width: 100%;
}
.product-img-content{
    justify-content: space-around;
    width: 100%;
    padding: 1rem 0 ; 

}
.product-img-content-main{
    text-transform: capitalize;
    font-weight: 700;
}
.product-img-content-main h1{
   font-size: 1em;
   margin: 0;
}
.product-img-content-main p{
    font-size: .7em;
    color: rgb(10,174,228);
}
.product-img-content-rate{
    font-size: .8em;
    padding: 0;
    height: fit-content;
    padding: 0 .5rem;
    border: 1px solid rgb(10,174,228);
    border-radius: 5px;
}
.product-content{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 1rem;
    color: #ffff;
    transform: translateY(-100%);
    background-color: black;
    transition: all .8s;
}
.product-content-top{
    align-items: center;
    
}
.product-content-top *{
    margin: 0 ;
}
.product-content-top .fa-times{
    flex: 1;
}
.product-content-top i ,.product-content-top p{
    font-size: .7em;
    padding: 0 .5rem;
}
.product-content-top .fa-times{
    padding-left: 0 !important;
}
.product-content-top .fa-ellipsis-v{
    padding-right: 0 !important;
}
 

 .product-content-infor{
    padding-top: .7rem;
     text-transform: capitalize;
     justify-content: space-between;
   
 }
 .product-content-infor-main h1{
     font-size: 1em;
     font-weight: 600;
 }
 .product-content-infor-main p{
    font-size: .7em;
    color: rgb(10,174,228);
}
.product-content-infor-rate{
    font-size: .7em;
    padding: 0;
    height: fit-content;
    padding: 0 .5rem;
    border: 1px solid rgb(10,174,228);
    border-radius: 5px;
    font-weight: 600;
}
.product-content-main{
    font-size: .6em;
}
.product-content-btn{
    font-size: .7em;
    text-transform: capitalize;
    font-weight: 600;
    color: #ffff;
    background-color: rgb(10,174,228);
    padding: .3rem .8rem;
    border: none;
    border-radius: 4px;
}
@media only screen and (max-width : 983px){
   
    .product{
        font-size: 12px;
    }
    .product-img-content {
        padding: .7rem 0;
    }
  
    .product-content-infor-main p {

        margin-bottom:  .3rem;
    }
  
    .product-content-main {
        margin-bottom: .3rem;
    }
}
@media only screen and (max-width : 425px){
    .product  {
        font-size:10px;
        padding-right: 10px !important;
        padding-left: 10px !important;
        padding-bottom: 10px !important;
    }

    
}
@media only screen and (max-width : 385px){
    .product  {
        font-size:9px;
        padding-right: 4px !important;
        padding-left: 4px !important;
        padding-bottom: 4px !important;
    }

    
}
@media only screen and (max-width : 318px){
    .product  {
        font-size:9px;
        padding-right: 30px !important;
        padding-left: 30px !important;
        padding-bottom: 15px !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    
}
@media only screen and (max-width : 250px){
    .product  {
        font-size:9px;
        padding-right: 15px !important;
        padding-left: 15px !important;
        padding-bottom: 10px !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    
}


.subscribe{

    background-image: url(/public/images/bg-c_03.jpg);
    min-height: 15rem;
    box-sizing: border-box;
    padding: 2rem 0;
    text-align: center;
    color: #ffff;
    position: relative;
}

.subscribe-container{
    position: absolute;
    top: 0;
    left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.7);
      box-sizing: border-box;
      padding: 3rem 12rem;
}
.subscribe-container h1{
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 300;
}
.subscribe-btn {
    font-size: 100%;
    padding: .4rem 1.5rem;
    margin-top: 1rem;
    border: none;
    text-transform: capitalize;
    border-radius: 3px;
    background-color: rgb(10,174,228);
    color: #ffff;
}
@media only screen and (max-width: 985px){
    .subscribe-container {
        padding: 3rem 7rem;
    }
}
@media only screen and (max-width: 810px){
    .subscribe-container {
        padding: 3rem 2rem;
    }
}
@media only screen and (max-width: 630px){
    .subscribe-container h1{
        font-size: 1.5rem;
    }
    .subscribe-btn {
        font-size: 80%;
        padding: .3rem 1.2rem;
    }
}
@media only screen and (max-width: 380px){
    .subscribe-container h1{
        font-size: 1.2rem;
    }
    .subscribe-btn {
        font-size: 75%;
        padding: .3rem 1.1rem;
    }
}

.product-bottom{
    padding: 2rem 0;
}


.footer{
    background-color: #ffff;
    padding-top: 2rem ;
    padding-bottom: 1rem ;
}
.footer-container{
    justify-content: space-between;
    padding: 0 2rem;
}
.footer-container > div{
    flex: 1;
}
.footer-left {
    text-align: left;
}
.footer-left {
    text-transform: capitalize;
}
.footer-left a{
    color: #a7aaab !important;
    margin-right: 1rem;
    font-size: .9rem;
    text-decoration: none !important;
}
.footer-center{
    text-align: center;
}
.footer-center .logo{
    color: rgb(10,174,228);
  
}
.footer-center p{
    font-size: .8rem;
}
.footer-center .inforweb-logo{
    font-size: .8rem !important;
    word-spacing: .1rem;
    color: #a7aaab;
}
.footer-right {
    text-align: right;
}
.footer-right i{
    margin-left: .5rem;
    color: #a7aaab;
}
@media only screen and (max-width: 945px){
    
    .footer-container > div {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}
@media only screen and (max-width: 570px){
    .footer-left a {
        font-size: .7rem;
    }
    .footer-right i {
        font-size: .7rem;
    }
    .footer-center .logo {
        font-size: 1.2rem;
    }
    .footer-center p {
        font-size: .6rem;
    }
}